[submodule "ext/SFML"]
	path = ext/SFML
	url = https://github.com/SFML/SFML.git
[submodule "ext/imgui-sfml"]
	path = ext/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
